In [1]:
import pandas as pd

In [3]:
report_sim_dates = open("./experiment_cutoff_dates.txt", 'r').read().split()
report_sim_dates

# start_date = pd.to_datetime(cutoff_date) + pd.DateOffset(weeks=week) - pd.DateOffset(weeks=prediction_length)

['2020-03-01',
 '2020-09-27',
 '2021-03-14',
 '2021-09-05',
 '2021-12-12',
 '2022-04-03',
 '2022-07-31']

In [7]:

# Creating a DataFrame
df = pd.DataFrame({'Test Start Date': report_sim_dates})

# Convert 'Test Start Date' to datetime
df['Test Start Date'] = pd.to_datetime(df['Test Start Date'])

# Calculating other dates based on 'Test Start Date'
df['Test End Date'] = df['Test Start Date'] + pd.Timedelta(weeks=26)
df['Train Start Date'] = df['Test Start Date'] - pd.Timedelta(weeks=52)
df['Train End Date'] = df['Test Start Date'] - pd.Timedelta(weeks=1)

df

  Test Start Date Test End Date Train Start Date Train End Date
0      2020-03-01    2020-08-30       2019-03-03     2020-02-23
1      2020-09-27    2021-03-28       2019-09-29     2020-09-20
2      2021-03-14    2021-09-12       2020-03-15     2021-03-07
3      2021-09-05    2022-03-06       2020-09-06     2021-08-29
4      2021-12-12    2022-06-12       2020-12-13     2021-12-05
5      2022-04-03    2022-10-02       2021-04-04     2022-03-27
6      2022-07-31    2023-01-29       2021-08-01     2022-07-24